@model IEnumerable<OnlineProdajaKarata.Models.Manifestacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Manifestacije</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <text>Naziv</text>
            </th>
            <th>
                <text>Vrijeme događaja</text>
            </th>
            <th>
                <text>Kategorija</text>
            </th>
            <th>
                <text>Lokacija</text>
            </th>
            <th>
                <text>Trajanje</text>
            </th>
            <th>
                <text>Opis</text>
            </th>
            <th>
                <text>Cijena</text>
            </th>
            <th>
                <text></text>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivManifestacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjestoOdrzavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrajanjeManifestacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisManifestacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaKarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slika)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDManifestacije">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDManifestacije">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDManifestacije">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
